name: Build

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: "build-${{ github.ref }}"
  cancel-in-progress: true


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: leanprover/lean-action@v1
        with:
          build-args: "--wfail"
      # delete the extra "Build project: lake build" step
