name: Lean Action CI

on:
  push:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: "lean-docs-${{ github.ref }}"
  cancel-in-progress: true

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: leanprover/lean-action@v1
        with:
          build-args: "ZxCalculus"
      - uses: leanprover-community/docgen-action@v1
        with:
          use-github-cache: false
